<?xml version="1.0" encoding="UTF-8"?>
<rows>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 1 ]]></Number><Title><![CDATA[ Mikado Special Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab, sashimi, Avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Cucumber (no rice) ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 2 ]]></Number><Title><![CDATA[ Sashimi Tempura Roll ]]></Title><Ingredients_Inside><![CDATA[ Five kinds of sashimi (no rice) ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Tempura withspecial sauce ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 3 ]]></Number><Title><![CDATA[ Rainbow Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, cucumber, Avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Five kinds of sashimi ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 4 ]]></Number><Title><![CDATA[ Philadephia Roll ]]></Title><Ingredients_Inside><![CDATA[ Cream cheese, Avocado, asparagus ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Salmon ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 5 ]]></Number><Title><![CDATA[ Spider Roll ]]></Title><Ingredients_Inside><![CDATA[ Deep fried soft shell crab, smelt egg and cucumber ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Seaweed ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 6 ]]></Number><Title><![CDATA[ Crunch Roll ]]></Title><Ingredients_Inside><![CDATA[ Shimp tempura, crab and Avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Tempura ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 7 ]]></Number><Title><![CDATA[ Dragon Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, cucumber, Avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Eel and Avocado ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 8 ]]></Number><Title><![CDATA[ Caterpillar Roll ]]></Title><Ingredients_Inside><![CDATA[ Eel, cucumber ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Avocado ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 9 ]]></Number><Title><![CDATA[ Poki Roll ]]></Title><Ingredients_Inside><![CDATA[ Spicy tuna, cucumber, Avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Seaweed salad ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 10 ]]></Number><Title><![CDATA[ Washington Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, Avocado, cucumber ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Salmon ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 11 ]]></Number><Title><![CDATA[ Angel Roll ]]></Title><Ingredients_Inside><![CDATA[ Spicy Tuna, shrimp tempura, cucumber ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Avocado ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 12 ]]></Number><Title><![CDATA[ Crunch Spicy Tuna Roll ]]></Title><Ingredients_Inside><![CDATA[ Spicy tuna, cucumber ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Fresh tuna and crunch ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 13 ]]></Number><Title><![CDATA[ Santa Maria Roll ]]></Title><Ingredients_Inside><![CDATA[ Spicy crab, shrimp tempura, cucumber ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Avocado and spicy sauce ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 14 ]]></Number><Title><![CDATA[ Butter Shrimp Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, cucumber, avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Butter shrimp and asparagus ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 15 ]]></Number><Title><![CDATA[ Albacore Delight Roll ]]></Title><Ingredients_Inside><![CDATA[ Spice albacore, avocado, cucumber ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Albacore ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 16 ]]></Number><Title><![CDATA[ Baby Lobster Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, cucumber, avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Baked lobster withsauce ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 17 ]]></Number><Title><![CDATA[ Tuna Special Roll ]]></Title><Ingredients_Inside><![CDATA[ Spicy tuna, cucumber, asparagus ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Tuna ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 18 ]]></Number><Title><![CDATA[ Mountain Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab, cucumber, avocado wrapped withsalmon ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Baked spicy tuna ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 19 ]]></Number><Title><![CDATA[ Hot Night Roll ]]></Title><Ingredients_Inside><![CDATA[ Shrimp tempura, crab meat ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Spicy tuna ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 20 ]]></Number><Title><![CDATA[ Baked Dynamite Roll ]]></Title><Ingredients_Inside><![CDATA[ California roll tempura ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Baked Scallop, mushroom and onion ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 21 ]]></Number><Title><![CDATA[ Dream Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, cucumber, avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Baked salmon and scallop ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 22 ]]></Number><Title><![CDATA[ Hawaiian Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, cucumber, avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Tuna ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 23 ]]></Number><Title><![CDATA[ Alaska Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, cucumber avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Salmon withsliced lemon ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 24 ]]></Number><Title><![CDATA[ Passion Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, asparagus ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Salmon, mango withsliced lemon ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 25 ]]></Number><Title><![CDATA[ Funky Roll ]]></Title><Ingredients_Inside><![CDATA[ Soft shell crab, spicy tuna ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Spicy tuna, black tobkiko and sauce ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 26 ]]></Number><Title><![CDATA[ Volcano Roll ]]></Title><Ingredients_Inside><![CDATA[ Eel, crab, tobkiko, avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Egg ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 27 ]]></Number><Title><![CDATA[ Lion King Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, cucumber, avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Baked salmon with cheese ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 28 ]]></Number><Title><![CDATA[ Golden CA Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, cucumber, avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Salmon and tempura ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 29 ]]></Number><Title><![CDATA[ Moon Dog Roll ]]></Title><Ingredients_Inside><![CDATA[ Chopped shrimp tempura and spicy crab ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Albacore and avocado with sauce ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 30 ]]></Number><Title><![CDATA[ Cliff House Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, cucumber, avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Baked scallop, green mussel, baby lobster and shrimp with sauce on top ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 31 ]]></Number><Title><![CDATA[ Cherry Blossom Roll ]]></Title><Ingredients_Inside><![CDATA[ Spicy tuna, yamagobo, avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ tobkiko and tuna ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 32 ]]></Number><Title><![CDATA[ What The Heck Roll ]]></Title><Ingredients_Inside><![CDATA[ Soft shell crab, cream cheese, avocado, cucumber, tobkiko ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Spicy tuna and jalapeno ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 33 ]]></Number><Title><![CDATA[ Baked Scallop Roll ]]></Title><Ingredients_Inside><![CDATA[ Crab meat, cucumber, avocado ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Baked scallop and vegetables ]]></Ingredients_Outside></row>
<row><Type><![CDATA[ Premium Roll ]]></Type><Number><![CDATA[ 34 ]]></Number><Title><![CDATA[ Fire Cracker Roll ]]></Title><Ingredients_Inside><![CDATA[ Scallop ]]></Ingredients_Inside><Ingredients_Outside><![CDATA[ Spicy tuna with sauce ]]></Ingredients_Outside></row>
</rows>
