body{
  
 background-color:grey;  
 background-repeat:no-repeat;
 color:white;
 	font: normal normal normal 16px/1.3 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
}
.menuRow{
	height:223px;
	cursor:pointer;
	background-repeat:no-repeat
}
